/****************/
/*****      *****/
/*****GLOBAL*****/
/*****      *****/
/****************/



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(208, 233, 255);
    min-height: 1500px;
    padding-top: 125px;
    display: flex;
    flex-direction: column;
    font-family: 'Inter', sans-serif;
}

main {
    padding-left: 10px;
    color:#E7E7E7;
}

footer {
    margin-top: auto;
    color:#E7E7E7;
}


/**********************/
/***HEADER CUSTOMIZE***/
/**********************/

.header {
    background-color: #E7E7E7;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;
}

.header_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-height: 60px;
    max-width: 1400px;
    padding: 0 30px;
    margin: 0 auto;
}


/**********************/
/***NAVBAR CUSTOMIZE***/
/**********************/

.logo_img {
    width: 300px;
    display: block;
}

ul {
    list-style: none;
}

.nav_list {
    display: flex;
    column-gap: 45px;
}


.nav_link {
    color: rgba(0, 0, 0, 0.60);
    font-size: 15px;
    transition: all 0.4s;
    position: relative;
}

.nav_link:hover,
.nav_link:focus {
    color: rgba(0, 0, 0, 1);
}

.nav_link:hover::after {
    opacity: 1;
}

.nav_link::after {
    content: '';
    height: 2px;
    width: 100%;
    background-color: #F24C00;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: all 0.2s;
    opacity: 0;
    pointer-events: none;
    border-radius: 1000px;
}

.start {
    color: black;
    background-color: #F24C00;
    padding: 10px 21px;
    border-radius: 10px;
    font-size: 15px;
    font-weight: 500;
    color: white;
}

@media (max-width: 796px) {
    .header_content {
        flex-direction: column;
        align-items: center;
        padding: 25px 0;
        row-gap: 18px;

    }

    .nav_list {
        column-gap: 20px;
    }
}


/*********************/
/***TABLE CUSTOMIZE***/
/*********************/

table, th, td {
    border-radius: 20px;
}

.orders_th {
    padding-top: 20px;
    padding-bottom: 25px;
    font-size: 15px;
}

.order2 {
    padding-top: 40px;
}

/* Standard Syntax -  Prevent User Text Select*/
.prevent-select {
    user-select: none;
}

.center {
    margin-left: auto;
    margin-right: auto;
}

.table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(106, 106, 106, 0.5);
}

.orders_table {
    margin-left: auto;
    margin-right: auto;
    background-color: rgb(106, 106, 106, 0.6);
    width: 60%;
}

.tacos_table {
    width:70%;
}

.norm_td {
    width: 150px;
    padding:20px;
}

.quanty_td {
    padding-left:20px;
    padding-top:20px;
    padding-bottom:20px;
}

.taco_td {
    width: 150px;
    padding-left:20px;
    padding-top:35px;
    padding-right:20px;
    padding-bottom:35px;
}

.row { 
    float: left; 
    width: 33.33%; 
    padding-top: 10px;
    border-right: 1px solid white;
    border-left: 1px solid white;
    padding-bottom:  7.5px;
}


.section {
    border:2px solid rgb(106, 106, 106);
    background-color: rgb(106, 106, 106, 0.5);
    text-align: center;
}

.multiple-taco {
    width: 300px;
    background-color: rgb(106, 106, 106, 0.4);
}

.taco_title {
    background-color: rgb(106, 106, 106, 0.5);
}

.order_fit {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.order_title {
    font-size: 18px;
}

.secret_table {
    margin-left: auto;
    margin-right: auto;
    width: 85%;
    height: 890px;
}

.table-w_93 {
    width:93%;
    margin-left: auto;
    margin-right: auto;
}

.table-w_70 {
    width:70%;
}

.table_bg {
    background-color: rgb(106, 106, 106, 0.5)
}

.td_center {
    width: 150px;
    padding:20px;
    text-align: center
}

.order_tr {
    background-color: rgb(106, 106, 106, 0.5);
    padding:20px;
}

.test {
    width: 250px;
    padding-left:20px;
    padding-right:20px;
}

.img_td {
    padding-left:10px;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
}

.mix {
    border: 1px solid black;
}

.thanks {
    padding-top: 20px;
    padding-bottom: 15px;
    font-size: 10px;
    
}


/********************/
/***TEXT CUSTOMIZE***/
/********************/

h2 {
    font-size: larger;
}

a {
    text-decoration: none;
    color: inherit;
}

.title {
    font-family: "Montserrat", sans-serif;
    padding-bottom: 20px;
    padding-top: 50px;
    font-size: 55px;
    text-align: center
}

.h4_center {
    margin-left: auto;
    margin-right: auto;
    padding-bottom: 3%;
}

.semi-title {
    font-family: sans-serif;
    font-size:xx-large;
}

h4 {
    font-family: sans-serif;
    font-weight: 300;
    font-size: 18px;
    text-align: center;
}

.semi_h1 {
    text-align: center;
}

/**************************/
/***BACKGROUND CUSTOMIZE***/
/**************************/

.home {
    background-image: url(../images/tacos.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.orders {
    background-image: url(../images/orders.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.about {
    background-image: url(../images/cut_board.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.all_tacos {
    background-image: url(../images/cut_board2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.order {
    background-image: url(../images/order.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}

.each_taco {
    background-image: url(../images/cut_board2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 125%;
}

.secret {
    background-image: url(../images/bg.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 125%;
}

/*************************/
/***Image Customization***/
/*************************/


.taco_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 220px;
    width: 220px;
    border-radius: 20px;
    z-index: -1;
}

.admin_nav {
    display: block;
    height: 50px;
    width: 50px;
    border-radius: 20px;
    z-index: -1;
}

.taco_img:hover,
.taco_img:focus { 
    transition: all 0.4s;
    opacity: 0.65;
    z-index: -1;

}

.receipt_img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 180px;
    width: 180px;
    border-radius: 20px;
}

.error {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 500px;
    width: 700px;
}

.img_taco {
    height: 500px;
    width: 500px;
    border-radius: 20px;
}

.rounded {
    border-radius: 20px;
}

/********************/
/***DROP-DOWN LIST***/
/********************/


.round_select {
    border-radius: 10px;
}


label {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding-bottom: 20px;
}

select {
    justify-content: center;
    width: 230px;
    height: 60px;
    margin-bottom: 10px;
    margin-top: 10px;
    border:2px solid rgb(106, 106, 106);
    background-color: rgb(106, 106, 106, 0.5);
    color:#E7E7E7;
}

optgroup {
    background-color: rgb(106, 106, 106);
}

.qty_input {
    border:2px solid rgb(106, 106, 106);
    background-color: rgb(106, 106, 106, 0.5);
    color:#E7E7E7;
    border-radius: 10px;
    padding: 10px;
    width: 50px;
}

.arrow_num {
    position: relative;
}


.select_input {
    border:2px solid rgb(106, 106, 106);
    background-color: rgb(106, 106, 106, 0.5);
    color:#E7E7E7;
    border-radius: 10px;
    padding: 5px;
}

.custom-select {
    margin-left: auto;
    margin-right: auto;
    width:200px;
}
