{% extends "layout.html" %}
{% block content %}

<body class="about">
    <table class="table-w_93">
        <tr class="table_bg">
        <td class="td_center">
            <h1 class="semi-title">About Us</h1>
            <br>
            Welcome to TacoKing, the ultimate destination for taco lovers!
             Our taco shop is the perfect place for anyone who wants to indulge in delicious and authentic 
             Mexican cuisine. At TacoKing, we are passionate about providing our customers with the highest 
             quality ingredients and the most flavorful tacos in town.  Our menu is designed to satisfy every craving, 
             from classic favorites like carne asada and al pastor to unique creations like our shrimp and pineapple tacos. 
             We also offer a variety of vegetarian and vegan options, so everyone can enjoy our tasty tacos.  TacoKing is 
             for anyone who appreciates good food and a great atmosphere. Whether you're grabbing a quick lunch or enjoying 
             a night out with friends, our friendly staff and inviting ambiance make TacoKing the perfect spot for any occasion. 
             So come on in and discover your new favorite taco today! The unique feature of our TacoKing, unlike other resteraunts,
             <a href="/secret">we order and you deliever!</a>
            </td>
        </tr>
        <tr>
        <td class="norm_td">&nbsp;</td>
        </tr>
        <tr>
        <td class="norm_td">&nbsp;</td>
        <tr class="table_bg">
        <td class="td_center">
            <h1 class="semi-title">About My Project</h1>
            <br>
            My project is focused on a taco restaurant that offers a variety of delicious and authentic Mexican cuisine inspired by 
            mediaeval times. The menu will feature a wide range of tacos, including classics such as carne asada, al pastor, and carnitas, 
            as well as unique and innovative options like pineapple swords and shrimp spears. The website for this restaurant is designed 
            for people who want a unique food experience with a variety of spices and seasonings, all without the hassle. It allows customers 
            to easily order food for delivery right to their doorstep. I chose to create a taco restaurant website as my project because I 
            wanted to try something new after previously creating a website focused on a car dealership with a database of car parts.
        </td>
        </tr>
    </table>
</body>
{% endblock %}


