{% extends "layout.html" %}
{% block content %}

<body class="all_tacos prevent-select">
    <table class="tacos_table center">
        <tr>
            <td class="norm_td">&nbsp;</td>
            <td class="taco_title norm_td">
                <h1 class="semi-title semi_h1">Our Products</h1>
            </td>
            <td class="norm_td">&nbsp;</td>
        </tr>
    </table>
    <table class="center">
        <tr>
            <td colspan="3" class="norm_td">&nbsp;</td>
        </tr>
        <tr>
            {% for item in results %}
            {% if item[0] <= 4 %}
                <td class="multiple-taco taco_td">
                    <a href = "/tacos/{{ item[0] }}"><img class="taco_img" src="{{ item[1]}}"/></a>
                    <h4 class="h4_center">{{ item[2]}}</h4>
                </td>
            {% endif %}
            {% endfor %}
        </tr>
        <tr>
            {% for item in results %}
            {% if item[0] > 4 %}
                <td class="multiple-taco taco_td">
                    <a href = "/tacos/{{ item[0] }}"><img class="taco_img" src="{{ item[1]}}"/></a>
                    <h4 class="h4_center">{{ item[2]}}</h4>
                </td>
            {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>
{% endblock %}
