{% extends "layout.html" %}
{% block content %}

<body class="all_tacos">
    <table style="width:70%" class="center">
        <tr>
            <td>&nbsp;</td>
            <td class="taco_title">
                <h1 style="text-align: center" class="semi-title">Our Products</h1>
            </td>
            <td>&nbsp;</td>
        </tr>
    </table>
    <table class="center">
        <tr>
            <td colspan="3">&nbsp;</td>
        </tr>
        <tr>
            {% for item in results %}
                {% if item[0] <= 2 %}
                <td style="background-color: rgb(106, 106, 106, 0.4);" class="multiple-taco prevent-select">
                    <img class="taco_img" src="{{ item[1]}}">
                    <p style="padding-bottom: 3%;">{{ item[2]}}</p>
                    <div class="row">
                        <div class="dropdown">
                            <details>
                                <summary>
                                    <div class="dropdown-trigger">
                                    Ingredients
                                    </div>
                                </summary>
                                <div class="dropdown-content center">
                                    Dropdown content here…
                            </div>
                            </details>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dropdown">
                            <details>
                                <summary>
                                    <div class="dropdown-trigger">
                                    Seasonings
                                    </div>
                                </summary>
                                <div class="dropdown-content">
                                    Dropdown content here…
                            </div>
                            </details>
                        </div>
                    </div>
                    <div class="row">
                        <div class="dropdown">
                            <details>
                                <summary>
                                    <div class="dropdown-trigger">
                                    Locations Available
                                    </div>
                                </summary>
                            
                                <div class="dropdown-content">
                                    Dropdown content here…
                            </div>
                            </details>
                        </div>
                    </div>
                </td>
                <td>&nbsp;</td>
                {% endif %}
            {% endfor %}
        </tr>
    </table>
</body>
{% endblock %}
