{% extends "layout.html" %}
{% block content %}

<body class="all_tacos">
    {% for item in results %}
    <table style="width:70%" class="center">
    <tr>
        <td>&nbsp;</td>
        <td class="taco_title">
            <h1 style="text-align: center" class="semi-title">Our Products</h1>
        </td>
        <td>&nbsp;</td>
    </tr>
    </table>
    <table class="center">
    <tr>
        <td colspan="3">&nbsp;</td>
    </tr>
    <tr>
        <td style="background-color: rgb(106, 106, 106, 0.4);" class="multiple-taco prevent-select">
            <b><a href = "/Taco_Types/{{ item [0] }}">{{ item[1]}}</a></b>
            <p style="padding-bottom: 3%;">{{ item[2]}}</p>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Ingrediants
                            </div>
                        </summary>
                    
                        <div class="dropdown-content center">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Seasonings
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Locations Available
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
        </td>
        <td style ="width: 210px;">&nbsp;</td>
        <td style="background-color: rgb(106, 106, 106, 0.4);" class="multiple-taco prevent-select">
            <b>Taco 2</b>
            <p style="padding-bottom: 3%;">Description</p>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Ingrediants
                            </div>
                        </summary>
                    
                        <div class="dropdown-content center">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Seasonings
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Locations Available
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
        </td>
    </tr>
    <tr>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td style="background-color: rgb(106, 106, 106, 0.4);" class="multiple-taco prevent-select">
            <b>Taco 3</b>
            <p style="padding-bottom: 3%;">Description</p>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Ingrediants
                            </div>
                        </summary>
                    
                        <div class="dropdown-content center">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Seasonings
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Locations Available
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
        </td>
        <td width="">&nbsp;</td>
        <td style="background-color: rgb(106, 106, 106, 0.4);" class="multiple-taco prevent-select">
            <b>Taco 4</b>
            <p style="padding-bottom: 3%;">Description</p>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Ingrediants
                            </div>
                        </summary>
                    
                        <div class="dropdown-content center">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Seasonings
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
            <div class="column">
                <div class="dropdown">
                    <details>
                        <summary>
                            <div class="dropdown-trigger">
                            Locations Available
                            </div>
                        </summary>
                    
                        <div class="dropdown-content">
                            Dropdown content here…
                    </div>
                    </details>
                </div>
            </div>
        </td>
    </tr>
    </table>
    <h2><a href = "/Taco_Types/{{ item [0] }}">{{ item[1]}}</a></h2> 
    <p>{{ item[2]}}</p>
    {% endfor %}
</body>
{% endblock %}