<h3>&nbsp;&copy;2023 Akash Chattikal</h3>


<body>
<div id="log_slot" class="modal">
  
  <form class="modal-content animate prevent-select" action="/log" method="post" onsubmit="return authenticate()">
    <div class="imgcontainer">
      <span onclick="document.getElementById('log_slot').style.display='none'" class="close" title="Close Modal">&times;</span>
      <img src="/static/images/admin.png" alt="Avatar" class="avatar">
    </div>

    <div class="container prevent-select">
      <label for="username"><p style="font-weight: 500;">Username</p></label>
      <input class="input_slot" id ="username" type="text" placeholder="Enter Username" name="username" required>

      <label for="password"><p style="font-weight: 500;">Password</p></label>
      <input class="input_slot" id="password" type="password" placeholder="Enter Password" name="password" required>
        
      <button class="button_form" type="submit">Login</button>
    </div>
  </form>
</div>

<script>
    function authenticate(){
    var authorised;

    //get input values
    var username = document.getElementById("username").value;
    var password = document.getElementById("password").value;

    console.log(username)

    //check to see if the password and username match
    if(username == ":)" && password == ":)"){
        authorised = true;
    }
    else{ // username or password do not match
        authorised = false;
        //alert user
        alert("You Are Not Admin Are You?!");
    }}
    var modal = document.getElementById('log_slot');

  // When the user clicks anywhere outside of the modal, close it
  window.onclick = function(event) {
      if (event.target == modal) {
          modal.style.display = "none";
      }
  }

</script>
</body>

  