{% extends "layout.html" %}
{% block content %}

<body class="home">
    <table class="table_bg table-w_93 shadow">
        <tr>
            <th><h1 class="title">Welcome To <br>TacoKing</h1></th>
            <td rowspan="6" class="section norm_td shadow">
                <h2>Special Deals Today!</h2><br><p>Bash Tacos are 30% off!</p><br><p>Get It Now While Stocks Last!</p>
            </td>
        </tr>
        <tr>
            <td class="td_center" >We Make Tacos With A Touch Of The Past </td>
        </tr>
        <tr>
            <td class="td_center">&nbsp;</td>
        </tr>
        <tr>
            <td class="td_center">&nbsp;</td>
        </tr>
        <tr>
            <td class="td_center"><a href = "/order" class="start">ORDER NOW</a></td>
        </tr>
        <tr>
            <td class="td_center">&nbsp;</td>
        </tr>
    </table>
</body>
{% endblock %}
