<ul class="nav_list prevent-select">
    <li class="nav_item">
        <a href = "/" class="nav_link" id="home">Home</a>
    </li>
    <li class="nav_item">
        <a href = "/about" class="nav_link" id="about">About Us</a>
    </li>
    <li class="nav_item">
        <a href = "/all_tacos" class="nav_link" id="product">Our Products</a>
    </li>
    <li class="nav_item">
        <a href = "/order" class="nav_link" id="order">Order & Delivery</a>
    </li>
</ul>

<script src="{{url_for('static',  filename='/script/script.js')}}"></script>
