<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.0/jquery.min.js"></script>

<ul class="nav_list prevent-select">
    <li class="nav_item">
        <a href = "/" class="nav_link">Home</a>
    </li>
    <li class="nav_item">
        <a href = "/about" class="nav_link">About Us</a>
    </li>
    <li class="nav_item">
        <a href = "/all_tacos" class="nav_link">Our Products</a>
    </li>
    <li class="nav_item">
        <a href = "/order" class="nav_link">Order & Delivery</a>
    </li>
</ul>




