{% extends "layout.html" %}
{% block content %}
<body class="order">
    <table class="order_fit">
        <tr>
            <td class="norm_td">
                <h1 class="semi-title">Order & Delievery</h1>
            </td>
        </tr>
        <tr>&nbsp;</tr>
        <tr>
            <td>
                <form>
                    <label for="taco">Choose A Taco: </label>
                    <select name="taco" id="taco">
                        <optgroup label="Tacos">
                            {% for item in locations_names %}
                            <option value="{{item[2]}}">{{item[2]}}</option>
                            {% endfor %}
                        </optgroup>
                    </select>
                    <input type="submit" value="Submit">
                </form>
            </td>
        </tr>   
        <tr>
            <td class="norm_td">You Deliver we order</td>
        </tr>   
    </table>
</body>

{% endblock %}