{% extends "layout.html" %}
{% block content %}

<body class="order prevent-select">
    <table class="table-w_70 center">
        <tr>
            <td class="norm_td">&nbsp;</td>
            <td class="taco_title norm_td shadow">
                <h1 style="text-align: center" class="semi-title">Order & Delievery</h1>
            </td>
            <td class="norm_td">&nbsp;</td>
        </tr>
    </table>
    <table class="order_fit table_bg shadow">
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <tr>
            <td colspan="2"><p>Maximum Order Amount: 6</p></td>
        </tr>
        <tr>
            <td>&nbsp;</td>
        </tr>
        <tr>
            <td colspan="2">
                <button class="row_btn">Add A New Row</button>
                <a class="row_clear">Remove Row</a>
            </td>
        </tr>
        <tr>
            <td>
                <!-- The following code activates a the action of posting the select tags results into the Orders table in the database -->
                <form action="/place_order", method="post", enctype="multipart/form-data">
                    <b>
                        <br>
                        <select name="taco" id="taco" class="round_select">
                            <!-- This label makes a small title at the start of the drop down -->
                            <optgroup label="Tacos">
                                <!-- This option creates a placeholder for the select tag -->
                                <option value="" disabled selected hidden>Choose A Taco</option>
                                {% for item in locations_names %}
                                <option value="{{item[0]}}">{{item[2]}}</option>
                                {% endfor %}
                            </optgroup>
                        </select>
                    </b>
                    <input type="submit" value="Order" class="select_input">
                </form>
            </td>   
        </tr>
    </table>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
<script>
    // The following code allows the user add 1 to the variable counter, every time the select tag is cloned and with this
    // limitation can be made to stop the function from cloning after it has 5 clones of the original
    var count = 0;
    $("button").click(function(){
        if (count < 5) {
            $("b:last").clone().appendTo("form");
            count += 1;
        }
    });

    // The following code allows the user to remove the clones except for the original clone where the counter variable is at 0
    $("a").click(function(){
        if (count > 0){
            $("b:last").remove();
            count -= 1
        }
    });
</script>
{% endblock %}
