{% extends "layout.html" %}
{% block content %}

<body class="orders">
    <table class="orders_table">
        <tr>
            <td class="norm_td"></td>
            <th class="orders_th"><h1>Your Order</h1></th>
            <td class="norm_td"></td>
        </tr>
        <tr>
            <td class="norm_td"><img class="receipt_img" src="/{{photo}}"/></td>
            <td class="norm_td">{{name}} <br> {{cost}}</td>
            <td class="norm_td">{{location}}</td>
        </tr>
        <td class="norm_td"></td>
        <th class="thanks"><h1>Thanks For Ordering!</h1></th>
        <td class="norm_td"></td>
    </table>
</body>

{% endblock %}
