{% extends "layout.html" %}
{% block content %}

<body class="secret">
    <table class="secret_table">
        <tr class="table_bg">
            <td class="td_center">
                <!-- The following code is used to embed the game I made for game design into the website -->
                <iframe frameborder="0" src="https://itch.io/embed-upload/8538988?color=551969" allowfullscreen="" width="1280" height="740">
                    <a href="https://chchnyanko.itch.io/spectral-odyssey-final">
                        Play Spectral Odyssey on itch.io
                    </a>
                </iframe>
            </td>
        </tr>
    </table>
</body>

<!-- The following code establishes a connection to game.js where the embeded game -->
<!-- can be displayed through the buffered array and cross origin -->
<script src="{{url_for('static',  filename='/script/game.js')}}"></script>

{% endblock %}