{% extends "layout.html" %}
{% block content %}

<body class="secret">
    <table class="secret_table">
        <tr style="background-color: rgb(106, 106, 106, 0.5)">
            <td style="text-align: center" class="norm_td">
                <iframe frameborder="0" src="https://itch.io/embed-upload/8327972?color=232e37" 
                allowfullscreen="" width="1280" height="740" class="rounded">
                    <a href="https://chchnyanko.itch.io/spectral-odyssey2">Play Spectral Odyssey Sprint 2 on itch.io</a>
                </iframe>
            </td>
        </tr>
    </table>
</body>

{% endblock %}