{% extends "layout.html" %}
{% block content %}

<body class="each_taco">
    <table style="width:70%" class="center">
        <tr style="background-color: rgb(106, 106, 106, 0.5)">
            <td style="text-align: center" class="norm_td">
                <img class="img_taco" src="/{{taco[1]}}"/>
                <h1>{{ taco[2] }}</h1>
                &nbsp;
                <p>{{ taco[4] }}</p>
                &nbsp;
                <h3>Base:</h3>
                <p>Made From A {{ tortilla[0] }} Tortilla</p>
                &nbsp;
                <h3>Ingrediants:</h3>
                {% for item in ingrediants %}
                    <p>
                        <li> {{ item[1] }} - {{ item[2] }} </li>
                    </p>
                {% endfor %}
                &nbsp;
                    <h3>Seasonings:</h3>
                {% for item in seasonings %}
                    <p>
                        <li> {{ item[1] }}</li>
                    </p>
                {% endfor %}
                &nbsp;
                    <h3>Location:</h3>
                    <p>
                        {{location}}
                    </p>
                    &nbsp;
                <h3>Costs:</h3>
                <p>Costs {{ taco[5] }}</p>
            </td>
        </tr>
    </table>
</body>

{% endblock %}
